@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
    background-color: #f8f9fa;
    font-family: Inter, sans-serif;
}

.navbar {
    width: 100%;
    display: flex;
    /*justify-content: center;*/
}

.navbar-title {
    font-weight: bold;
    text-decoration: none;
}

.card {
    margin-top: 20px;
    border: none;
}

.card-title {
    color: #007bff;
}

.card-text {
    color: #343a40;
}

.btn {
    color: #ffffff;
    text-align: center;
    margin: 2%;
    border-radius: 5%;
    cursor: pointer;
    text-decoration: none;
    max-height: 50px;
}

.btn-primary {
    background-color: #6f42c1;
    border-color: #6f42c1;
}

.btn-primary:hover {
    background-color: #5a32a3;
    border-color: #5a32a3;
}

.list-group-item {
    border: none;
    padding-left: 0;
}

.list-group-item strong {
    color: #343a40;
}

.container {
    /*max-width: 800px;*/
    margin-top: 20px;
}

img.card-img-top {
    height: auto;
    width: 100%;
    object-fit: cover;
}

.btn-block {
    display: block;
    width: 20%;
    margin-bottom: 10px;
}

.enlaces {
    display: flex;
    justify-content: center;
}